{% extends 'base.html' %}
{% load static %}

{% block title %}Perfect Incense{% endblock %}

{% block extra_css %} 
  <!-- <link rel="icon" href="{% static 'images/tr logo.png' %}" /> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{static 'css/chat'}"> -->
{% endblock %}

{% block content %}
    
        {% endblock %}

    <script src="https://kit.fontawesome.com/e5f73c79c7.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
