{% extends 'base.html' %}
{% load static %}

{% block title %}Perfect Incense{% endblock %}

{% block extra_css %} 
  <!-- <link rel="icon" href="{% static 'images/tr logo.png' %}" /> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{static 'css/chat'}"> -->
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-text1">
            <h2>ELEVATE YOUR SPACE WITH <br>PERFECT INCENSE: <span>SPOTLESS <br>CLEAN, REFRESHING SCENTS <br>AND A VIBE YOU WILL ADORE</span></h2>
        </div>
        <div class="hero-text2">
            <p>We provide high-quality cleaning services <br>for residential and commercial spaces. <br>Our goal is to make your home or office clean <br>and comfortable. We use the latest equipment <br>and technologies to ensure the best results.</p>
            <p class="preview">
                <section class="circle-gallery">
                    <div class="circle">
                        <img src="images/profile1.jfif" alt="Image 1">
                    </div>
                    <div class="circle">
                        <img src="images/profile2.jfif" alt="Image 2">
                    </div>
                    <div class="circle">
                        <img src="images/profile1.jfif" alt="Image 3">
                    </div>
                    <div class="circle">
                        <img src="images/profile3.jfif" alt="Image 4">
                    </div>
                    <a href="#" class="reviews-btn">748 reviews <i class="fa-solid fa-arrow-right"></i></a>
                </section>
                
            </p>
        </div>
    </section>

    <div class="bgimage">
        <img src="images/landing page bg.jpg" alt="">
    </div>

    <div class="services">
        <h1>OUR CLEANING <br>SERVICES</h1>
        </div><div class="service-button-group">
            <button class="service-filter-btn service-active" data-service-filter="house">House</button>
            <button class="service-filter-btn" data-service-filter="office">Office</button>
            <button class="service-filter-btn" data-service-filter="apartment">Apartment</button>
            <button class="service-filter-btn" data-service-filter="stores">Stores</button>
            <button class="service-filter-btn" data-service-filter="restaurant">Restaurant</button>
            <button class="service-filter-btn" data-service-filter="gyms">Gyms</button>
        </div>
    
        <div class="service-carousel-wrapper">
            <button class="service-carousel-arrow service-left-arrow">❮</button>
                <div class="service-carousel">

                    <div class="service-carousel-content">
                        <div class="service-carousel-item service-house service-active">
                            <img src="/images/service/furniture.png" alt="House Image 1">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-house service-active">
                            <img src="/images/service/furniture.png" alt="House Image 2">
                            <p class="service-carousel-text">Window Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-house service-active">
                            <img src="/images/service/furniture.png" alt="House Image 3">
                            <p class="service-carousel-text">Gym Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-house service-active">
                            <img src="/images/service/furniture.png" alt="House Image 4">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-house service-active">
                            <img src="/images/service/furniture.png" alt="House Image 5">
                            <p class="service-carousel-text">Window Cleaning</p>
                        </div>

                        <div class="service-carousel-item service-office">
                            <img src="/images/service/furniture.png" alt="House Image 1">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-office">
                            <img src="/images/service/furniture.png" alt="House Image 2">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-office">
                            <img src="/images/service/furniture.png" alt="House Image 3">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-office">
                            <img src="/images/service/furniture.png" alt="House Image 4">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-office">
                            <img src="/images/service/furniture.png" alt="House Image 5">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>

                        <div class="service-carousel-item service-apartment">
                            <img src="/images/service/furniture.png" alt="Office Image 1">
                        </div>
                        <div class="service-carousel-item service-apartment">
                            <img src="/images/service/furniture.png" alt="Office Image 2">
                        </div>
                        <div class="service-carousel-item service-apartment">
                            <img src="/images/service/furniture.png" alt="Office Image 3">
                        </div>
                        <div class="service-carousel-item service-apartment">
                            <img src="/images/service/furniture.png" alt="Office Image 4">
                        </div>
                        <div class="service-carousel-item service-apartment">
                            <img src="/images/service/furniture.png" alt="Office Image 5">
                        </div>
                        
                        <div class="service-carousel-item service-stores">
                            <img src="/images/service/furniture.png" alt="House Image 1">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-stores">
                            <img src="/images/service/furniture.png" alt="House Image 2">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-stores">
                            <img src="/images/service/furniture.png" alt="House Image 3">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-stores">
                            <img src="/images/service/furniture.png" alt="House Image 4">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-stores">
                            <img src="/images/service/furniture.png" alt="House Image 5">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>

                        <div class="service-carousel-item service-restaurant">
                            <img src="/images/service/furniture.png" alt="House Image 1">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-restaurant">
                            <img src="/images/service/furniture.png" alt="House Image 2">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-restaurant">
                            <img src="/images/service/furniture.png" alt="House Image 3">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-restaurant">
                            <img src="/images/service/furniture.png" alt="House Image 4">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-restaurant">
                            <img src="/images/service/furniture.png" alt="House Image 5">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>

                        <div class="service-carousel-item service-gyms">
                            <img src="/images/service/furniture.png" alt="House Image 1">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-gyms">
                            <img src="/images/service/furniture.png" alt="House Image 2">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-gyms">
                            <img src="/images/service/furniture.png" alt="House Image 3">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-gyms">
                            <img src="/images/service/furniture.png" alt="House Image 4">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        <div class="service-carousel-item service-gyms">
                            <img src="/images/service/furniture.png" alt="House Image 5">
                            <p class="service-carousel-text">House Cleaning</p>
                        </div>
                        
                    </div>

                </div>
            <button class="service-carousel-arrow service-right-arrow">❯</button>
        </div>

        <div class="past-works">
            <h1>WE HAVE PERFORMED<br>
                OVER,<span>100+ CLEANINGS</span></h1>
            <div class="container-backgrounds-past">
                <div class="cards-container-backgrounds-past">
                  <!--card 1-->
                  <div class="card-backgrounds-past one-past owned-past">
                    <span class="filter-past"></span>
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                  <!--card 2-->
                  <div class="card-backgrounds-past two-past owned-past">
                    <span class="filter-past"></span>
                    <img src="static/images/cover (8).jfif" alt="Card 1" id="cardImage-past">
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                  <!--card 3-->
                  <div class="card-backgrounds-past three-past owned-past">
                    <span class="filter-past"></span>
                    <img src="background.url" alt="Card 1" id="cardImage-past">
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                  <!--card 4-->
                  <div class="card-backgrounds-past four-past owned-past">
                    <span class="filter-past"></span>
                    <img src="background.url" alt="Card 1" id="cardImage-past">
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                  <!--card 5-->
                  <div class="card-backgrounds-past five-past owned-past">
                    <span class="filter-past"></span>
                    <img src="background.url" alt="Card 1" id="cardImage-past">
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                  <!--card 6-->
                  <div class="card-backgrounds-past six-past owned-past">
                    <span class="filter-past"></span>
                    <img src="background.url" alt="Card 1" id="cardImage-past">
                    <!-- <div class="price-tag-backgrounds-past">$ 200</div> -->
                    <div class="owned-tag-backgrounds-past">Owned</div>
                    <div class="card-content-backgrounds-past">Name</div>
                  </div>
                </div>
              </div>
        </div>

        <div class="cleaning-solutions">
            <h1>OUR CLEANING<br>
                <span>SOLUTIONS</span></h1>
        </div>

        
    <section class="testimonial text-center">
        <div class="container">

            <div class="heading white-heading">
                Testimonial
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
             
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 1</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 2</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 3</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>




        <div class="contact-form">
            <h2>FILL OUT THE FORM AND WE WILL CONTACT YOU</h2>
            <form action="#">
                <div>
                    <label for="first-name">Your first name</label>
                    <input type="text" id="first-name" name="first-name" placeholder="ABC">
                </div>
                <div>
                    <label for="last-name">Your last name</label>
                    <input type="text" id="last-name" name="last-name" placeholder="XYZ">
                </div>
                <div>
                    <label for="phone">Phone number</label>
                    <input type="tel" id="phone" name="phone" placeholder="+61 999 999 999">
                </div>
                <div>
                    <label for="email">Your e-mail address</label>
                    <input type="email" id="email" name="email" placeholder="abcxyz@gmail.com">
                </div>
                <div>
                    <label for="place">Place</label>
                    <input type="text" id="place" name="place" placeholder="Sydney, AUS">
                </div>
                <div>
                    <label for="type-of-work">Type of work</label>
                    <input type="text" id="type-of-work" name="type-of-work" placeholder="Developer">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    
        <div class="footer">
            <div class="footer-content">
                <div class="menu">
                    <h3>Perfect Incense</h3>
                    <a href="#">Home</a> |
                    <a href="#">Services</a> |
                    <a href="#">About</a> |
                    <a href="#">Pricing</a>
                </div>
                <div class="social">
                    <h3>Social</h3>
                    <a href="#">Instagram</a> |
                    <a href="#">X (Twitter)</a> |
                    <a href="#">Facebook</a>
                </div>
                <div class="contact">
                    <h3>Contact</h3>
                    <p>+61 999 999 999</p>
                    <p>perfectincense@gmail.com</p>
                </div>
                <div class="privacy">
                    <a href="#">Privacy policy</a> |
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
            <p>&copy; Perfect Incense</p>
        </div>
    
        {% endblock %}

    <script src="https://kit.fontawesome.com/e5f73c79c7.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
