html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background-color: #E6F7FF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F7FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 4.5rem;
}

.logo{
    padding: 1rem 6rem;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #E6F7FF;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #E6F7FF;
  color: #36af36;
}


.contact-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 6rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.contact-btn {
    background-color: #36af36;
    color: white;
    padding: 0.8rem 1.7rem;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
    background-color: #E6F7FF;
    margin-top: 3rem;
}

.hero-text1, .hero-text2 {
    max-width: 50%;
}

.hero-text1 h2 {
    font-size: 3rem;
    color: #000000;
}

.hero-text1 h2 span {
    color: #36af36;
}

.hero-text2{
    margin-right: 15rem;
}

.hero-text2 p {
    font-size: 1.3rem;
    color: #000000;
}

.hero-text2 p.preview{
    margin-top: 2rem;
}

.reviews-btn {
    background-color: #36af36;
    color: white;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: bold;
    margin-left: -5rem;
}

.reviews p {
    font-size: 1rem;
    color: #36af36;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}


.circle-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle + .circle {
    margin-left: -30%; /* Overlap each circle by 30% */
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #d1e3f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

i{
    padding-left: 0.3rem;
}

/* bg image start  */
.bgimage img{
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* our cleaning services */
.services{
    padding: 4rem 0;
}

.services h1{
    font-size: 6rem;
    padding: 0 6rem;
}

.service-button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.service-filter-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.service-filter-btn.service-active {
    background-color: #4CAF50;
    color: white;
}

.service-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%; /* Or 100% depending on your needs */
    margin: 0 auto;
}

.service-carousel {
    overflow: hidden;
    width: 100%;
}

.service-carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 5);
}

.service-carousel-item {
    flex: 0 0 25%; /* 4 items visible at a time */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.service-carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.service-carousel-text {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.service-carousel-arrow {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    color: #333;
    padding: 0 10px;
}

.service-left-arrow {
    left: -3rem; /* Adjusted to be within the visible area */
}

.service-right-arrow {
    right: -3rem; /* Adjusted to be within the visible area */
}

.service-carousel-arrow:hover {
    color: #000; /* Darker color on hover for better visibility */
}


/* past works */
.past-works h1{
    font-size: 4rem;
    padding: 0 6rem;
}

.past-works h1 span {
    color: #36af36;
}

.container-backgrounds-past {
    max-width: 80%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  
  .cards-container-backgrounds-past {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    justify-content: center;
    min-height: 440px;
  }
  
  .card-backgrounds-past {
    max-width: 350px;
    max-height: 196px;
    min-width: 350px;
    min-height: 196px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.725);
    transition: transform 0.3s ease;
  }
  
  .card-content-backgrounds-past {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .3s ease;
  }
  
  .filter-past {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #00000096;
    transition: opacity .4s ease;
  }
  
  .card-backgrounds-past:hover .filter-past {
    opacity: 1;
  }
  
  .card-backgrounds-past:hover .card-content-backgrounds-past {
    opacity: 1;
  }
  
  .price-tag-backgrounds-past {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 15px;
    border-radius: 7px 15px;
    color: #fff;
    background-color: #9e0788;
  }
  
  .owned-past {
    border: 3px solid #36af36;
  }
  
  .owned-tag-backgrounds-past {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    padding: 5px;
    border-radius: 7px 15px;
    color: #fff;
    background-color: #36af36;
  }
  
  .one-past {
    background: url("{% static 'images/past/past 1.jpg' %}") center center no-repeat;
    background-size: 400px;
}
  
  .two-past {
    background: url("{% static 'images/past/past 2.jpg' %}") center center no-repeat;
    background-size: 400px;
  }
  
  .three-past {
    background: url("{% static 'images/past/past 1.jpg' %}") center center no-repeat;
    background-size: 400px;
  }
  
  .four-past {
    background: url("{% static 'images/past/past 2.jpg' %}") center center no-repeat;
    background-size: 400px;
  }
  
  .five-past {
    background: url("{% static 'images/past/past 1.jpg' %}") center center no-repeat;
    background-size: 400px;
  }
  
  .six-past {
    background: url("{% static 'images/past/past 2.jpg' %}") center center no-repeat;
    background-size: 400px;
  }


  /* cleaning solutions */
  .cleaning-solutions{
    height: 80vh;
    background: url('/images/solutions.png') center center no-repeat;
    background-size: contain;
    background-color: #B8B3E3;
  }

  .cleaning-solutions h1{
    font-size: 4rem;
    padding: 6rem 6rem;
}

.cleaning-solutions h1 span {
    color: #36af36;
}


/* testimonial */

#testimonial{
  background: #fff;
  width: 80vw;
  top: 50%;
  left: 50%;
  max-width: 40em;
  min-height: 25em;
  border-radius: 0.5em;
  display: flex;
}

.testimonial-container{
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.7em 1.2em;
  border: 1px solid #f66335;
}
.container button {
  font-size: 1.7em;
  height: 2.1em;
  width: 2.1em;
  background: #fff;
  position: absolute;
  color: #f66335;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  object-fit: cover;
  width: 4.4em;
  height: 5em;
}
button#prev {
  left: -1.1em;
}
button#next {
  right: -1.1em;
}
@media screen and (max-width: 650px) {
  .container {
    font-size: 14px;
  }
}
/* ------testimonial  close-------*/


/* contact form  */
#contact-us h2{
  text-align: center;
  margin-bottom: 0;
}

.contact-form {
    background-color: #e0f2e9;
    padding: 20px;
    width: 50%;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.contact-form h2 {
    color: #3f9e3f;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form input[type="submit"] {
    background-color: #36af36;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.contact-form input[type="submit"]:hover {
    background-color: #37a637;
}

/* footer  */
.footer {
    background-color: #36af36;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer .menu,
.footer .social,
.footer .contact {
    margin-bottom: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .privacy {
    margin-top: 20px;
    font-size: 12px;
}



#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2rem; /* Place the button 30px from the bottom */
  right: 2rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #37a637; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  border-radius: 100px; /* Rounded corners */
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

#backToTopBtn:hover {
  background-color: #555; /* Add a darker background on hover */
}
